.person,
.infectionRadius {
  position: absolute;
  box-sizing: border-box;
  border-radius: 50%;
}

.root {
  position: absolute;
  transition: all 1s linear;
}

.person {
  width: 14px;
  height: 14px;
  border: 1px solid darkmagenta;
}

.infectionRadius {
  width: 98px;
  height: 98px;
  margin-left: -42px;
  margin-top: -42px;
  background-color: rgba(255, 187, 123, 0.1);
  border: 1px solid rgb(255, 153, 58);
}

.healthy {
  background-color: #d2b1e7;
}

.doctor {
  background-color: green;
}

.bored {
  background-color: #2c99d2;
}

.ill {
  background-color: red;
}

.dead {
  background-color: black;
}

.recovered {
  background-color: saddlebrown;
}
